.header {
  position: relative;
  z-index: 10;
  background-color: black;
  width: 100%;
  max-width: 768px;
  height: 3rem; /* 48px */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  .logo {
    width: 4.4rem; /* 71px */
    height: 1.5rem; /* 24px */
    cursor: pointer;
  }
  .navbar {
    .menu-icon {
      cursor: pointer;
    }
    .menu {
      display: none;

      & > li:nth-child(3) > a > img {
        display: none;
      }
    }

    #menu-toggle:checked ~ .menu {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 3rem; /* 48px */
      left: 0;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 25px;
      background-color: black;
    }

    #menu-toggle:checked + .menu-icon .menu-icon__icon {
      content: url('../../assets/icons/menu-x.png'); /* Path to your "X" icon */
    }
  }
}

@media (min-width: 768px) {
  .header {
    min-width: 768px;
    max-width: 1248px;
    height: 5rem; /* 80px */
    padding: 0 2rem;
    .navbar {
      width: 20%;
      .menu-icon {
        display: none;
      }
      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > li:nth-child(3) > a > span {
          display: none;
        }
        & > li:nth-child(3) > a > img {
          display: inline;
        }
      }
    }
  }
}

@media (min-width: 1248px) {
  .header {
    min-width: 1248px;
    padding: 0 3rem;
    .navbar {
      width: 15%;
    }
  }
}
