.learn_more_button {
  width: 10rem;
  height: 2rem;
  border-radius: 100px;
  background-color: #ebff00;
  border: 2px solid #ebff00;
  padding: 0.4rem 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  white-space: nowrap;
}
.learn_more_button--outlined {
  background-color: transparent;
  color: #ebff00;
}
